<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Concrete Brick</title>
</head>
<body>
<div id="app">
    <canvas width="1280" height="720"></canvas>
</div>
</body>
</html>